<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>Aacute</key>
  <string>Aacute_.glif</string>
  <key>Acircumflex</key>
  <string>Acircumflex_.glif</string>
  <key>Adblgrave</key>
  <string>Adblgrave_.glif</string>
  <key>Adieresis</key>
  <string>Adieresis_.glif</string>
  <key>Agrave</key>
  <string>Agrave_.glif</string>
  <key>Ainvertedbreve</key>
  <string>Ainvertedbreve_.glif</string>
  <key>Aring</key>
  <string>Aring_.glif</string>
  <key>Atilde</key>
  <string>Atilde_.glif</string>
  <key>AE</key>
  <string>AE__.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>Ccedilla</key>
  <string>Ccedilla_.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>Eth</key>
  <string>Eth_.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>Eacute</key>
  <string>Eacute_.glif</string>
  <key>Ecircumflex</key>
  <string>Ecircumflex_.glif</string>
  <key>Edblgrave</key>
  <string>Edblgrave_.glif</string>
  <key>Edieresis</key>
  <string>Edieresis_.glif</string>
  <key>Egrave</key>
  <string>Egrave_.glif</string>
  <key>Einvertedbreve</key>
  <string>Einvertedbreve_.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>Iacute</key>
  <string>Iacute_.glif</string>
  <key>Icircumflex</key>
  <string>Icircumflex_.glif</string>
  <key>Idblgrave</key>
  <string>Idblgrave_.glif</string>
  <key>Idieresis</key>
  <string>Idieresis_.glif</string>
  <key>Igrave</key>
  <string>Igrave_.glif</string>
  <key>Iinvertedbreve</key>
  <string>Iinvertedbreve_.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>Lslash</key>
  <string>Lslash_.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>Ntilde</key>
  <string>Ntilde_.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>Oacute</key>
  <string>Oacute_.glif</string>
  <key>Ocircumflex</key>
  <string>Ocircumflex_.glif</string>
  <key>Odblgrave</key>
  <string>Odblgrave_.glif</string>
  <key>Odieresis</key>
  <string>Odieresis_.glif</string>
  <key>Ograve</key>
  <string>Ograve_.glif</string>
  <key>Oinvertedbreve</key>
  <string>Oinvertedbreve_.glif</string>
  <key>Oslash</key>
  <string>Oslash_.glif</string>
  <key>Otilde</key>
  <string>Otilde_.glif</string>
  <key>OE</key>
  <string>OE__.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Thorn</key>
  <string>Thorn_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>Rdblgrave</key>
  <string>Rdblgrave_.glif</string>
  <key>Rinvertedbreve</key>
  <string>Rinvertedbreve_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>Scaron</key>
  <string>Scaron_.glif</string>
  <key>Scommaaccent</key>
  <string>Scommaaccent_.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>Tcommaaccent</key>
  <string>Tcommaaccent_.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>Uacute</key>
  <string>Uacute_.glif</string>
  <key>Ucircumflex</key>
  <string>Ucircumflex_.glif</string>
  <key>Udblgrave</key>
  <string>Udblgrave_.glif</string>
  <key>Udieresis</key>
  <string>Udieresis_.glif</string>
  <key>Ugrave</key>
  <string>Ugrave_.glif</string>
  <key>Uinvertedbreve</key>
  <string>Uinvertedbreve_.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Yacute</key>
  <string>Yacute_.glif</string>
  <key>Ydieresis</key>
  <string>Ydieresis_.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>Zcaron</key>
  <string>Zcaron_.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>aacute</key>
  <string>aacute.glif</string>
  <key>acircumflex</key>
  <string>acircumflex.glif</string>
  <key>adblgrave</key>
  <string>adblgrave.glif</string>
  <key>adieresis</key>
  <string>adieresis.glif</string>
  <key>agrave</key>
  <string>agrave.glif</string>
  <key>ainvertedbreve</key>
  <string>ainvertedbreve.glif</string>
  <key>aring</key>
  <string>aring.glif</string>
  <key>atilde</key>
  <string>atilde.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>ccedilla</key>
  <string>ccedilla.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>eth</key>
  <string>eth.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>eacute</key>
  <string>eacute.glif</string>
  <key>ecircumflex</key>
  <string>ecircumflex.glif</string>
  <key>edblgrave</key>
  <string>edblgrave.glif</string>
  <key>edieresis</key>
  <string>edieresis.glif</string>
  <key>egrave</key>
  <string>egrave.glif</string>
  <key>einvertedbreve</key>
  <string>einvertedbreve.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>dotlessi</key>
  <string>dotlessi.glif</string>
  <key>iacute</key>
  <string>iacute.glif</string>
  <key>icircumflex</key>
  <string>icircumflex.glif</string>
  <key>idblgrave</key>
  <string>idblgrave.glif</string>
  <key>idieresis</key>
  <string>idieresis.glif</string>
  <key>igrave</key>
  <string>igrave.glif</string>
  <key>iinvertedbreve</key>
  <string>iinvertedbreve.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>lslash</key>
  <string>lslash.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>ntilde</key>
  <string>ntilde.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>oacute</key>
  <string>oacute.glif</string>
  <key>ocircumflex</key>
  <string>ocircumflex.glif</string>
  <key>odblgrave</key>
  <string>odblgrave.glif</string>
  <key>odieresis</key>
  <string>odieresis.glif</string>
  <key>ograve</key>
  <string>ograve.glif</string>
  <key>oinvertedbreve</key>
  <string>oinvertedbreve.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>otilde</key>
  <string>otilde.glif</string>
  <key>oe</key>
  <string>oe.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>thorn</key>
  <string>thorn.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>rdblgrave</key>
  <string>rdblgrave.glif</string>
  <key>rinvertedbreve</key>
  <string>rinvertedbreve.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>scaron</key>
  <string>scaron.glif</string>
  <key>scommaaccent</key>
  <string>scommaaccent.glif</string>
  <key>germandbls</key>
  <string>germandbls.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>tcommaaccent</key>
  <string>tcommaaccent.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>uacute</key>
  <string>uacute.glif</string>
  <key>ucircumflex</key>
  <string>ucircumflex.glif</string>
  <key>udblgrave</key>
  <string>udblgrave.glif</string>
  <key>udieresis</key>
  <string>udieresis.glif</string>
  <key>ugrave</key>
  <string>ugrave.glif</string>
  <key>uinvertedbreve</key>
  <string>uinvertedbreve.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>yacute</key>
  <string>yacute.glif</string>
  <key>ydieresis</key>
  <string>ydieresis.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zcaron</key>
  <string>zcaron.glif</string>
  <key>fi</key>
  <string>fi.glif</string>
  <key>fl</key>
  <string>fl.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>ordmasculine</key>
  <string>ordmasculine.glif</string>
  <key>Delta</key>
  <string>Delta_.glif</string>
  <key>Omega</key>
  <string>Omega_.glif</string>
  <key>mu</key>
  <string>mu.glif</string>
  <key>ka-deva</key>
  <string>ka-deva.glif</string>
  <key>kha-deva</key>
  <string>kha-deva.glif</string>
  <key>ga-deva</key>
  <string>ga-deva.glif</string>
  <key>gha-deva</key>
  <string>gha-deva.glif</string>
  <key>nga-deva</key>
  <string>nga-deva.glif</string>
  <key>ca-deva</key>
  <string>ca-deva.glif</string>
  <key>cha-deva</key>
  <string>cha-deva.glif</string>
  <key>ja-deva</key>
  <string>ja-deva.glif</string>
  <key>jha-deva</key>
  <string>jha-deva.glif</string>
  <key>nya-deva</key>
  <string>nya-deva.glif</string>
  <key>tta-deva</key>
  <string>tta-deva.glif</string>
  <key>ttha-deva</key>
  <string>ttha-deva.glif</string>
  <key>dda-deva</key>
  <string>dda-deva.glif</string>
  <key>ddha-deva</key>
  <string>ddha-deva.glif</string>
  <key>nna-deva</key>
  <string>nna-deva.glif</string>
  <key>ta-deva</key>
  <string>ta-deva.glif</string>
  <key>tha-deva</key>
  <string>tha-deva.glif</string>
  <key>da-deva</key>
  <string>da-deva.glif</string>
  <key>dha-deva</key>
  <string>dha-deva.glif</string>
  <key>na-deva</key>
  <string>na-deva.glif</string>
  <key>nnna-deva</key>
  <string>nnna-deva.glif</string>
  <key>pa-deva</key>
  <string>pa-deva.glif</string>
  <key>pha-deva</key>
  <string>pha-deva.glif</string>
  <key>ba-deva</key>
  <string>ba-deva.glif</string>
  <key>bha-deva</key>
  <string>bha-deva.glif</string>
  <key>ma-deva</key>
  <string>ma-deva.glif</string>
  <key>ya-deva</key>
  <string>ya-deva.glif</string>
  <key>ra-deva</key>
  <string>ra-deva.glif</string>
  <key>rra-deva</key>
  <string>rra-deva.glif</string>
  <key>la-deva</key>
  <string>la-deva.glif</string>
  <key>lla-deva</key>
  <string>lla-deva.glif</string>
  <key>llla-deva</key>
  <string>llla-deva.glif</string>
  <key>va-deva</key>
  <string>va-deva.glif</string>
  <key>sha-deva</key>
  <string>sha-deva.glif</string>
  <key>ssa-deva</key>
  <string>ssa-deva.glif</string>
  <key>sa-deva</key>
  <string>sa-deva.glif</string>
  <key>ha-deva</key>
  <string>ha-deva.glif</string>
  <key>qa-deva</key>
  <string>qa-deva.glif</string>
  <key>khha-deva</key>
  <string>khha-deva.glif</string>
  <key>ghha-deva</key>
  <string>ghha-deva.glif</string>
  <key>za-deva</key>
  <string>za-deva.glif</string>
  <key>dddha-deva</key>
  <string>dddha-deva.glif</string>
  <key>rha-deva</key>
  <string>rha-deva.glif</string>
  <key>fa-deva</key>
  <string>fa-deva.glif</string>
  <key>yya-deva</key>
  <string>yya-deva.glif</string>
  <key>zha-deva</key>
  <string>zha-deva.glif</string>
  <key>jjya-deva</key>
  <string>jjya-deva.glif</string>
  <key>gga-deva</key>
  <string>gga-deva.glif</string>
  <key>jja-deva</key>
  <string>jja-deva.glif</string>
  <key>ddda-deva</key>
  <string>ddda-deva.glif</string>
  <key>bba-deva</key>
  <string>bba-deva.glif</string>
  <key>aShort-deva</key>
  <string>aShort-deva_.glif</string>
  <key>aCandra-deva</key>
  <string>aCandra-deva_.glif</string>
  <key>a-deva</key>
  <string>a-deva.glif</string>
  <key>aa-deva</key>
  <string>aa-deva.glif</string>
  <key>i-deva</key>
  <string>i-deva.glif</string>
  <key>ii-deva</key>
  <string>ii-deva.glif</string>
  <key>u-deva</key>
  <string>u-deva.glif</string>
  <key>uu-deva</key>
  <string>uu-deva.glif</string>
  <key>rVocalic-deva</key>
  <string>rVocalic-deva_.glif</string>
  <key>rrVocalic-deva</key>
  <string>rrVocalic-deva_.glif</string>
  <key>lVocalic-deva</key>
  <string>lVocalic-deva_.glif</string>
  <key>llVocalic-deva</key>
  <string>llVocalic-deva_.glif</string>
  <key>eCandra-deva</key>
  <string>eCandra-deva_.glif</string>
  <key>eShort-deva</key>
  <string>eShort-deva_.glif</string>
  <key>e-deva</key>
  <string>e-deva.glif</string>
  <key>ai-deva</key>
  <string>ai-deva.glif</string>
  <key>oCandra-deva</key>
  <string>oCandra-deva_.glif</string>
  <key>oShort-deva</key>
  <string>oShort-deva_.glif</string>
  <key>o-deva</key>
  <string>o-deva.glif</string>
  <key>au-deva</key>
  <string>au-deva.glif</string>
  <key>oe-deva</key>
  <string>oe-deva.glif</string>
  <key>ooe-deva</key>
  <string>ooe-deva.glif</string>
  <key>aw-deva</key>
  <string>aw-deva.glif</string>
  <key>ue-deva</key>
  <string>ue-deva.glif</string>
  <key>uue-deva</key>
  <string>uue-deva.glif</string>
  <key>aaMatra-deva</key>
  <string>aaMatra-deva_.glif</string>
  <key>iMatra-deva</key>
  <string>iMatra-deva_.glif</string>
  <key>iiMatra-deva</key>
  <string>iiMatra-deva_.glif</string>
  <key>oCandraMatra-deva</key>
  <string>oCandraMatra-deva__.glif</string>
  <key>oShortMatra-deva</key>
  <string>oShortMatra-deva__.glif</string>
  <key>oMatra-deva</key>
  <string>oMatra-deva_.glif</string>
  <key>auMatra-deva</key>
  <string>auMatra-deva_.glif</string>
  <key>uni093B</key>
  <string>uni093B_.glif</string>
  <key>awVowel-deva</key>
  <string>awVowel-deva_.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>fraction</key>
  <string>fraction.glif</string>
  <key>onehalf</key>
  <string>onehalf.glif</string>
  <key>onequarter</key>
  <string>onequarter.glif</string>
  <key>threequarters</key>
  <string>threequarters.glif</string>
  <key>onesuperior</key>
  <string>onesuperior.glif</string>
  <key>twosuperior</key>
  <string>twosuperior.glif</string>
  <key>threesuperior</key>
  <string>threesuperior.glif</string>
  <key>foursuperior</key>
  <string>foursuperior.glif</string>
  <key>zero-deva</key>
  <string>zero-deva.glif</string>
  <key>one-deva</key>
  <string>one-deva.glif</string>
  <key>two-deva</key>
  <string>two-deva.glif</string>
  <key>three-deva</key>
  <string>three-deva.glif</string>
  <key>four-deva</key>
  <string>four-deva.glif</string>
  <key>five-deva</key>
  <string>five-deva.glif</string>
  <key>six-deva</key>
  <string>six-deva.glif</string>
  <key>seven-deva</key>
  <string>seven-deva.glif</string>
  <key>eight-deva</key>
  <string>eight-deva.glif</string>
  <key>nine-deva</key>
  <string>nine-deva.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>softhyphen</key>
  <string>softhyphen.glif</string>
  <key>guillemetleft</key>
  <string>guillemetleft.glif</string>
  <key>guillemetright</key>
  <string>guillemetright.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>quotedblbase</key>
  <string>quotedblbase.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>glottalstop-deva</key>
  <string>glottalstop-deva.glif</string>
  <key>danda-deva</key>
  <string>danda-deva.glif</string>
  <key>dbldanda-deva</key>
  <string>dbldanda-deva.glif</string>
  <key>abbreviation-deva</key>
  <string>abbreviation-deva.glif</string>
  <key>highspacingdot-deva</key>
  <string>highspacingdot-deva.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>nbspace</key>
  <string>nbspace.glif</string>
  <key>space.001</key>
  <string>space.001.glif</string>
  <key>nbspace.001</key>
  <string>nbspace.001.glif</string>
  <key>zerowidthjoiner</key>
  <string>zerowidthjoiner.glif</string>
  <key>zerowidthnonjoiner</key>
  <string>zerowidthnonjoiner.glif</string>
  <key>CR</key>
  <string>CR__.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>euro</key>
  <string>euro.glif</string>
  <key>florin</key>
  <string>florin.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>approxequal</key>
  <string>approxequal.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>bulletoperator</key>
  <string>bulletoperator.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>divisionslash</key>
  <string>divisionslash.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>greaterequal</key>
  <string>greaterequal.glif</string>
  <key>infinity</key>
  <string>infinity.glif</string>
  <key>integral</key>
  <string>integral.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>lessequal</key>
  <string>lessequal.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>notequal</key>
  <string>notequal.glif</string>
  <key>partialdiff</key>
  <string>partialdiff.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>perthousand</key>
  <string>perthousand.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>product</key>
  <string>product.glif</string>
  <key>radical</key>
  <string>radical.glif</string>
  <key>dottedCircle</key>
  <string>dottedCircle_.glif</string>
  <key>lozenge</key>
  <string>lozenge.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>brokenbar</key>
  <string>brokenbar.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>avagraha-deva</key>
  <string>avagraha-deva.glif</string>
  <key>om-deva</key>
  <string>om-deva.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>breve</key>
  <string>breve.glif</string>
  <key>caron</key>
  <string>caron.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>circumflex</key>
  <string>circumflex.glif</string>
  <key>dieresis</key>
  <string>dieresis.glif</string>
  <key>dotaccent</key>
  <string>dotaccent.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>hungarumlaut</key>
  <string>hungarumlaut.glif</string>
  <key>macron</key>
  <string>macron.glif</string>
  <key>ogonek</key>
  <string>ogonek.glif</string>
  <key>ring</key>
  <string>ring.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
  <key>breveinvertedcomb</key>
  <string>breveinvertedcomb.glif</string>
  <key>commaaccent</key>
  <string>commaaccent.glif</string>
  <key>dblgravecomb</key>
  <string>dblgravecomb.glif</string>
  <key>firsttonechinese</key>
  <string>firsttonechinese.glif</string>
  <key>visarga-deva</key>
  <string>visarga-deva.glif</string>
  <key>uMatra-deva</key>
  <string>uMatra-deva_.glif</string>
  <key>uuMatra-deva</key>
  <string>uuMatra-deva_.glif</string>
  <key>rVocalicMatra-deva</key>
  <string>rVocalicMatra-deva__.glif</string>
  <key>rrVocalicMatra-deva</key>
  <string>rrVocalicMatra-deva__.glif</string>
  <key>lVocalicMatra-deva</key>
  <string>lVocalicMatra-deva__.glif</string>
  <key>llVocalicMatra-deva</key>
  <string>llVocalicMatra-deva__.glif</string>
  <key>eCandraMatra-deva</key>
  <string>eCandraMatra-deva__.glif</string>
  <key>candraBindu-deva</key>
  <string>candraBindu-deva_.glif</string>
  <key>eShortMatra-deva</key>
  <string>eShortMatra-deva__.glif</string>
  <key>eMatra-deva</key>
  <string>eMatra-deva_.glif</string>
  <key>aiMatra-deva</key>
  <string>aiMatra-deva_.glif</string>
  <key>anusvara-deva</key>
  <string>anusvara-deva.glif</string>
  <key>halant-deva</key>
  <string>halant-deva.glif</string>
  <key>nukta-deva</key>
  <string>nukta-deva.glif</string>
  <key>uni0900</key>
  <string>uni0900.glif</string>
  <key>uni0955</key>
  <string>uni0955.glif</string>
  <key>uni093A</key>
  <string>uni093A_.glif</string>
  <key>uni0956</key>
  <string>uni0956.glif</string>
  <key>uni0957</key>
  <string>uni0957.glif</string>
  <key>udatta-deva</key>
  <string>udatta-deva.glif</string>
  <key>anudatta-deva</key>
  <string>anudatta-deva.glif</string>
  <key>grave-deva</key>
  <string>grave-deva.glif</string>
  <key>acute-deva</key>
  <string>acute-deva.glif</string>
  <key>g1</key>
  <string>g1.glif</string>
  <key>g122</key>
  <string>g122.glif</string>
  <key>g123</key>
  <string>g123.glif</string>
  <key>g124</key>
  <string>g124.glif</string>
  <key>g125</key>
  <string>g125.glif</string>
  <key>g126</key>
  <string>g126.glif</string>
  <key>g127</key>
  <string>g127.glif</string>
  <key>g128</key>
  <string>g128.glif</string>
  <key>g129</key>
  <string>g129.glif</string>
  <key>g130</key>
  <string>g130.glif</string>
  <key>g131</key>
  <string>g131.glif</string>
  <key>g132</key>
  <string>g132.glif</string>
  <key>g133</key>
  <string>g133.glif</string>
  <key>g134</key>
  <string>g134.glif</string>
  <key>g135</key>
  <string>g135.glif</string>
  <key>g136</key>
  <string>g136.glif</string>
  <key>g137</key>
  <string>g137.glif</string>
  <key>g138</key>
  <string>g138.glif</string>
  <key>g139</key>
  <string>g139.glif</string>
  <key>g140</key>
  <string>g140.glif</string>
  <key>g141</key>
  <string>g141.glif</string>
  <key>g142</key>
  <string>g142.glif</string>
  <key>g143</key>
  <string>g143.glif</string>
  <key>g144</key>
  <string>g144.glif</string>
  <key>g145</key>
  <string>g145.glif</string>
  <key>g146</key>
  <string>g146.glif</string>
  <key>g147</key>
  <string>g147.glif</string>
  <key>g148</key>
  <string>g148.glif</string>
  <key>g149</key>
  <string>g149.glif</string>
  <key>g150</key>
  <string>g150.glif</string>
  <key>g151</key>
  <string>g151.glif</string>
  <key>g152</key>
  <string>g152.glif</string>
  <key>g153</key>
  <string>g153.glif</string>
  <key>g154</key>
  <string>g154.glif</string>
  <key>g155</key>
  <string>g155.glif</string>
  <key>g156</key>
  <string>g156.glif</string>
  <key>g157</key>
  <string>g157.glif</string>
  <key>g158</key>
  <string>g158.glif</string>
  <key>g159</key>
  <string>g159.glif</string>
  <key>g160</key>
  <string>g160.glif</string>
  <key>g161</key>
  <string>g161.glif</string>
  <key>g162</key>
  <string>g162.glif</string>
  <key>g163</key>
  <string>g163.glif</string>
  <key>g164</key>
  <string>g164.glif</string>
  <key>g165</key>
  <string>g165.glif</string>
  <key>g166</key>
  <string>g166.glif</string>
  <key>g167</key>
  <string>g167.glif</string>
  <key>g168</key>
  <string>g168.glif</string>
  <key>g169</key>
  <string>g169.glif</string>
  <key>g170</key>
  <string>g170.glif</string>
  <key>g171</key>
  <string>g171.glif</string>
  <key>g172</key>
  <string>g172.glif</string>
  <key>g173</key>
  <string>g173.glif</string>
  <key>g174</key>
  <string>g174.glif</string>
  <key>g175</key>
  <string>g175.glif</string>
  <key>g176</key>
  <string>g176.glif</string>
  <key>g177</key>
  <string>g177.glif</string>
  <key>g178</key>
  <string>g178.glif</string>
  <key>g179</key>
  <string>g179.glif</string>
  <key>g180</key>
  <string>g180.glif</string>
  <key>g181</key>
  <string>g181.glif</string>
  <key>g182</key>
  <string>g182.glif</string>
  <key>g183</key>
  <string>g183.glif</string>
  <key>g184</key>
  <string>g184.glif</string>
  <key>g185</key>
  <string>g185.glif</string>
  <key>g186</key>
  <string>g186.glif</string>
  <key>g187</key>
  <string>g187.glif</string>
  <key>g188</key>
  <string>g188.glif</string>
  <key>g189</key>
  <string>g189.glif</string>
  <key>g190</key>
  <string>g190.glif</string>
  <key>g191</key>
  <string>g191.glif</string>
  <key>g192</key>
  <string>g192.glif</string>
  <key>g193</key>
  <string>g193.glif</string>
  <key>g194</key>
  <string>g194.glif</string>
  <key>g195</key>
  <string>g195.glif</string>
  <key>g196</key>
  <string>g196.glif</string>
  <key>g197</key>
  <string>g197.glif</string>
  <key>g198</key>
  <string>g198.glif</string>
  <key>g199</key>
  <string>g199.glif</string>
  <key>g2</key>
  <string>g2.glif</string>
  <key>g200</key>
  <string>g200.glif</string>
  <key>g201</key>
  <string>g201.glif</string>
  <key>g202</key>
  <string>g202.glif</string>
  <key>g203</key>
  <string>g203.glif</string>
  <key>g204</key>
  <string>g204.glif</string>
  <key>g205</key>
  <string>g205.glif</string>
  <key>g206</key>
  <string>g206.glif</string>
  <key>g207</key>
  <string>g207.glif</string>
  <key>g208</key>
  <string>g208.glif</string>
  <key>g209</key>
  <string>g209.glif</string>
  <key>g210</key>
  <string>g210.glif</string>
  <key>g211</key>
  <string>g211.glif</string>
  <key>g212</key>
  <string>g212.glif</string>
  <key>g213</key>
  <string>g213.glif</string>
  <key>g214</key>
  <string>g214.glif</string>
  <key>g215</key>
  <string>g215.glif</string>
  <key>g216</key>
  <string>g216.glif</string>
  <key>g217</key>
  <string>g217.glif</string>
  <key>g218</key>
  <string>g218.glif</string>
  <key>g219</key>
  <string>g219.glif</string>
  <key>g220</key>
  <string>g220.glif</string>
  <key>g221</key>
  <string>g221.glif</string>
  <key>g222</key>
  <string>g222.glif</string>
  <key>g223</key>
  <string>g223.glif</string>
  <key>g224</key>
  <string>g224.glif</string>
  <key>g225</key>
  <string>g225.glif</string>
  <key>g226</key>
  <string>g226.glif</string>
  <key>g227</key>
  <string>g227.glif</string>
  <key>g228</key>
  <string>g228.glif</string>
  <key>g229</key>
  <string>g229.glif</string>
  <key>g230</key>
  <string>g230.glif</string>
  <key>g231</key>
  <string>g231.glif</string>
  <key>g232</key>
  <string>g232.glif</string>
  <key>g233</key>
  <string>g233.glif</string>
  <key>g234</key>
  <string>g234.glif</string>
  <key>g235</key>
  <string>g235.glif</string>
  <key>g236</key>
  <string>g236.glif</string>
  <key>g237</key>
  <string>g237.glif</string>
  <key>g238</key>
  <string>g238.glif</string>
  <key>g239</key>
  <string>g239.glif</string>
  <key>g240</key>
  <string>g240.glif</string>
  <key>g241</key>
  <string>g241.glif</string>
  <key>g242</key>
  <string>g242.glif</string>
  <key>g243</key>
  <string>g243.glif</string>
  <key>g244</key>
  <string>g244.glif</string>
  <key>g245</key>
  <string>g245.glif</string>
  <key>g246</key>
  <string>g246.glif</string>
  <key>g247</key>
  <string>g247.glif</string>
  <key>g248</key>
  <string>g248.glif</string>
  <key>g249</key>
  <string>g249.glif</string>
  <key>g250</key>
  <string>g250.glif</string>
  <key>g251</key>
  <string>g251.glif</string>
  <key>g252</key>
  <string>g252.glif</string>
  <key>g253</key>
  <string>g253.glif</string>
  <key>g254</key>
  <string>g254.glif</string>
  <key>g255</key>
  <string>g255.glif</string>
  <key>g256</key>
  <string>g256.glif</string>
  <key>g257</key>
  <string>g257.glif</string>
  <key>g258</key>
  <string>g258.glif</string>
  <key>g259</key>
  <string>g259.glif</string>
  <key>g260</key>
  <string>g260.glif</string>
  <key>g261</key>
  <string>g261.glif</string>
  <key>g262</key>
  <string>g262.glif</string>
  <key>g263</key>
  <string>g263.glif</string>
  <key>g264</key>
  <string>g264.glif</string>
  <key>g265</key>
  <string>g265.glif</string>
  <key>g266</key>
  <string>g266.glif</string>
  <key>g267</key>
  <string>g267.glif</string>
  <key>g268</key>
  <string>g268.glif</string>
  <key>g269</key>
  <string>g269.glif</string>
  <key>g270</key>
  <string>g270.glif</string>
  <key>g271</key>
  <string>g271.glif</string>
  <key>g272</key>
  <string>g272.glif</string>
  <key>g273</key>
  <string>g273.glif</string>
  <key>g274</key>
  <string>g274.glif</string>
  <key>g275</key>
  <string>g275.glif</string>
  <key>g276</key>
  <string>g276.glif</string>
  <key>g277</key>
  <string>g277.glif</string>
  <key>g278</key>
  <string>g278.glif</string>
  <key>g279</key>
  <string>g279.glif</string>
  <key>g280</key>
  <string>g280.glif</string>
  <key>g281</key>
  <string>g281.glif</string>
  <key>g282</key>
  <string>g282.glif</string>
  <key>g283</key>
  <string>g283.glif</string>
  <key>g284</key>
  <string>g284.glif</string>
  <key>g285</key>
  <string>g285.glif</string>
  <key>g286</key>
  <string>g286.glif</string>
  <key>g287</key>
  <string>g287.glif</string>
  <key>g288</key>
  <string>g288.glif</string>
  <key>g289</key>
  <string>g289.glif</string>
  <key>g290</key>
  <string>g290.glif</string>
  <key>g291</key>
  <string>g291.glif</string>
  <key>g292</key>
  <string>g292.glif</string>
  <key>g293</key>
  <string>g293.glif</string>
  <key>g294</key>
  <string>g294.glif</string>
  <key>g295</key>
  <string>g295.glif</string>
  <key>g306</key>
  <string>g306.glif</string>
  <key>g307</key>
  <string>g307.glif</string>
  <key>g308</key>
  <string>g308.glif</string>
  <key>g309</key>
  <string>g309.glif</string>
  <key>g310</key>
  <string>g310.glif</string>
  <key>g311</key>
  <string>g311.glif</string>
  <key>g312</key>
  <string>g312.glif</string>
  <key>g313</key>
  <string>g313.glif</string>
  <key>g314</key>
  <string>g314.glif</string>
  <key>g315</key>
  <string>g315.glif</string>
  <key>g316</key>
  <string>g316.glif</string>
  <key>g317</key>
  <string>g317.glif</string>
  <key>g318</key>
  <string>g318.glif</string>
  <key>g319</key>
  <string>g319.glif</string>
  <key>g320</key>
  <string>g320.glif</string>
  <key>g321</key>
  <string>g321.glif</string>
  <key>g322</key>
  <string>g322.glif</string>
  <key>g323</key>
  <string>g323.glif</string>
  <key>g324</key>
  <string>g324.glif</string>
  <key>g325</key>
  <string>g325.glif</string>
  <key>g326</key>
  <string>g326.glif</string>
  <key>g327</key>
  <string>g327.glif</string>
  <key>g328</key>
  <string>g328.glif</string>
  <key>g329</key>
  <string>g329.glif</string>
  <key>g330</key>
  <string>g330.glif</string>
  <key>g331</key>
  <string>g331.glif</string>
  <key>g332</key>
  <string>g332.glif</string>
  <key>g333</key>
  <string>g333.glif</string>
  <key>g334</key>
  <string>g334.glif</string>
  <key>g335</key>
  <string>g335.glif</string>
  <key>g336</key>
  <string>g336.glif</string>
  <key>g337</key>
  <string>g337.glif</string>
  <key>g338</key>
  <string>g338.glif</string>
  <key>g339</key>
  <string>g339.glif</string>
  <key>g340</key>
  <string>g340.glif</string>
  <key>g341</key>
  <string>g341.glif</string>
  <key>g342</key>
  <string>g342.glif</string>
  <key>g343</key>
  <string>g343.glif</string>
  <key>g344</key>
  <string>g344.glif</string>
  <key>g345</key>
  <string>g345.glif</string>
  <key>g346</key>
  <string>g346.glif</string>
  <key>g347</key>
  <string>g347.glif</string>
  <key>g348</key>
  <string>g348.glif</string>
  <key>g349</key>
  <string>g349.glif</string>
  <key>g350</key>
  <string>g350.glif</string>
  <key>g351</key>
  <string>g351.glif</string>
  <key>g352</key>
  <string>g352.glif</string>
  <key>g353</key>
  <string>g353.glif</string>
  <key>g354</key>
  <string>g354.glif</string>
  <key>g355</key>
  <string>g355.glif</string>
  <key>g356</key>
  <string>g356.glif</string>
  <key>g357</key>
  <string>g357.glif</string>
  <key>g358</key>
  <string>g358.glif</string>
  <key>g359</key>
  <string>g359.glif</string>
  <key>g360</key>
  <string>g360.glif</string>
  <key>g361</key>
  <string>g361.glif</string>
  <key>g362</key>
  <string>g362.glif</string>
  <key>g363</key>
  <string>g363.glif</string>
  <key>g364</key>
  <string>g364.glif</string>
  <key>g365</key>
  <string>g365.glif</string>
  <key>g366</key>
  <string>g366.glif</string>
  <key>g367</key>
  <string>g367.glif</string>
  <key>g368</key>
  <string>g368.glif</string>
  <key>g369</key>
  <string>g369.glif</string>
  <key>g370</key>
  <string>g370.glif</string>
  <key>g371</key>
  <string>g371.glif</string>
  <key>g372</key>
  <string>g372.glif</string>
  <key>g373</key>
  <string>g373.glif</string>
  <key>g374</key>
  <string>g374.glif</string>
  <key>g375</key>
  <string>g375.glif</string>
  <key>g376</key>
  <string>g376.glif</string>
  <key>g377</key>
  <string>g377.glif</string>
  <key>g378</key>
  <string>g378.glif</string>
  <key>g379</key>
  <string>g379.glif</string>
  <key>g380</key>
  <string>g380.glif</string>
  <key>g381</key>
  <string>g381.glif</string>
  <key>g382</key>
  <string>g382.glif</string>
  <key>g383</key>
  <string>g383.glif</string>
  <key>g384</key>
  <string>g384.glif</string>
  <key>g385</key>
  <string>g385.glif</string>
  <key>g386</key>
  <string>g386.glif</string>
  <key>g387</key>
  <string>g387.glif</string>
  <key>g388</key>
  <string>g388.glif</string>
  <key>g389</key>
  <string>g389.glif</string>
  <key>g390</key>
  <string>g390.glif</string>
  <key>g391</key>
  <string>g391.glif</string>
  <key>g392</key>
  <string>g392.glif</string>
  <key>g393</key>
  <string>g393.glif</string>
  <key>g394</key>
  <string>g394.glif</string>
  <key>uni0080</key>
  <string>uni0080.glif</string>
  <key>uni1CDA</key>
  <string>uni1CDA___.glif</string>
  <key>notdef.001</key>
  <string>notdef.001.glif</string>
  <key>uni0000</key>
  <string>uni0000.glif</string>
  <key>uni0915</key>
  <string>uni0915.glif</string>
  <key>uni093C</key>
  <string>uni093C_.glif</string>
  <key>uni0958</key>
  <string>uni0958.glif</string>
  <key>uni0916</key>
  <string>uni0916.glif</string>
  <key>uni0959</key>
  <string>uni0959.glif</string>
  <key>uni0917</key>
  <string>uni0917.glif</string>
  <key>uni095A</key>
  <string>uni095A_.glif</string>
  <key>uni091C</key>
  <string>uni091C_.glif</string>
  <key>uni095B</key>
  <string>uni095B_.glif</string>
  <key>uni0921</key>
  <string>uni0921.glif</string>
  <key>uni095C</key>
  <string>uni095C_.glif</string>
  <key>uni0922</key>
  <string>uni0922.glif</string>
  <key>uni095D</key>
  <string>uni095D_.glif</string>
  <key>uni0928</key>
  <string>uni0928.glif</string>
  <key>uni0929</key>
  <string>uni0929.glif</string>
  <key>uni092B</key>
  <string>uni092B_.glif</string>
  <key>uni095E</key>
  <string>uni095E_.glif</string>
  <key>uni092F</key>
  <string>uni092F_.glif</string>
  <key>uni095F</key>
  <string>uni095F_.glif</string>
  <key>uni0930</key>
  <string>uni0930.glif</string>
  <key>uni0931</key>
  <string>uni0931.glif</string>
  <key>uni0933</key>
  <string>uni0933.glif</string>
  <key>uni0934</key>
  <string>uni0934.glif</string>
  <key>uni0919</key>
  <string>uni0919.glif</string>
  <key>uni094D</key>
  <string>uni094D_.glif</string>
  <key>uni0937</key>
  <string>uni0937.glif</string>
  <key>uni0919_uni094D_uni0915_uni094D_uni0937_uni094D_uni092F</key>
  <string>uni0919_uni094D__uni0915_uni094D__uni0937_uni094D__uni092F_.glif</string>
  <key>uni0919_uni094D_uni0915_uni094D_uni092F</key>
  <string>uni0919_uni094D__uni0915_uni094D__uni092F_.glif</string>
  <key>uni0919_uni094D_uni0916_uni094D_uni092F</key>
  <string>uni0919_uni094D__uni0916_uni094D__uni092F_.glif</string>
  <key>uni0919_uni094D_uni0917_uni094D_uni092F</key>
  <string>uni0919_uni094D__uni0917_uni094D__uni092F_.glif</string>
  <key>uni0918</key>
  <string>uni0918.glif</string>
  <key>uni0919_uni094D_uni0918_uni094D_uni092F</key>
  <string>uni0919_uni094D__uni0918_uni094D__uni092F_.glif</string>
  <key>uni092E</key>
  <string>uni092E_.glif</string>
  <key>uni0919_uni094D_uni092E_uni094D_uni092F</key>
  <string>uni0919_uni094D__uni092E__uni094D__uni092F_.glif</string>
  <key>uni091F</key>
  <string>uni091F_.glif</string>
  <key>uni091F_uni094D_uni091F_uni094D_uni092F</key>
  <string>uni091F__uni094D__uni091F__uni094D__uni092F_.glif</string>
  <key>uni0920</key>
  <string>uni0920.glif</string>
  <key>uni091F_uni094D_uni0920_uni094D_uni092F</key>
  <string>uni091F__uni094D__uni0920_uni094D__uni092F_.glif</string>
  <key>uni0920_uni094D_uni0920_uni094D_uni092F</key>
  <string>uni0920_uni094D__uni0920_uni094D__uni092F_.glif</string>
  <key>uni0921_uni094D_uni0921_uni094D_uni092F</key>
  <string>uni0921_uni094D__uni0921_uni094D__uni092F_.glif</string>
  <key>uni0921_uni094D_uni0922_uni094D_uni092F</key>
  <string>uni0921_uni094D__uni0922_uni094D__uni092F_.glif</string>
  <key>uni0922_uni094D_uni0922_uni094D_uni092F</key>
  <string>uni0922_uni094D__uni0922_uni094D__uni092F_.glif</string>
  <key>uni0926</key>
  <string>uni0926.glif</string>
  <key>uni0926_uni094D_uni0930_uni094D_uni092F</key>
  <string>uni0926_uni094D__uni0930_uni094D__uni092F_.glif</string>
  <key>uni0935</key>
  <string>uni0935.glif</string>
  <key>uni0926_uni094D_uni0935_uni094D_uni092F</key>
  <string>uni0926_uni094D__uni0935_uni094D__uni092F_.glif</string>
  <key>uni0926_uni094D_uni0928_uni094D_uni092F</key>
  <string>uni0926_uni094D__uni0928_uni094D__uni092F_.glif</string>
  <key>uni092C</key>
  <string>uni092C_.glif</string>
  <key>uni0926_uni094D_uni092C_uni094D_uni092F</key>
  <string>uni0926_uni094D__uni092C__uni094D__uni092F_.glif</string>
  <key>uni092D</key>
  <string>uni092D_.glif</string>
  <key>uni0926_uni094D_uni092D_uni094D_uni092F</key>
  <string>uni0926_uni094D__uni092D__uni094D__uni092F_.glif</string>
  <key>uni0926_uni094D_uni0918_uni094D_uni092F</key>
  <string>uni0926_uni094D__uni0918_uni094D__uni092F_.glif</string>
  <key>uni0926_uni094D_uni0926_uni094D_uni092F</key>
  <string>uni0926_uni094D__uni0926_uni094D__uni092F_.glif</string>
  <key>uni0926_uni094D_uni0917_uni094D_uni092F</key>
  <string>uni0926_uni094D__uni0917_uni094D__uni092F_.glif</string>
  <key>uni0927</key>
  <string>uni0927.glif</string>
  <key>uni0926_uni094D_uni0927_uni094D_uni092F</key>
  <string>uni0926_uni094D__uni0927_uni094D__uni092F_.glif</string>
  <key>uni0937_uni094D_uni091F_uni094D_uni092F</key>
  <string>uni0937_uni094D__uni091F__uni094D__uni092F_.glif</string>
  <key>uni0937_uni094D_uni0920_uni094D_uni092F</key>
  <string>uni0937_uni094D__uni0920_uni094D__uni092F_.glif</string>
  <key>uni0915_uni094D_uni0937</key>
  <string>uni0915_uni094D__uni0937.glif</string>
  <key>uni091E</key>
  <string>uni091E_.glif</string>
  <key>uni091C_uni094D_uni091E</key>
  <string>uni091C__uni094D__uni091E_.glif</string>
  <key>uni200D</key>
  <string>uni200D_.glif</string>
  <key>uni0930_uni094D_uni200D</key>
  <string>uni0930_uni094D__uni200D_.glif</string>
  <key>uni0915_uni094D</key>
  <string>uni0915_uni094D_.glif</string>
  <key>uni0916_uni094D</key>
  <string>uni0916_uni094D_.glif</string>
  <key>uni0917_uni094D</key>
  <string>uni0917_uni094D_.glif</string>
  <key>uni0918_uni094D</key>
  <string>uni0918_uni094D_.glif</string>
  <key>uni0919_uni094D</key>
  <string>uni0919_uni094D_.glif</string>
  <key>uni091A</key>
  <string>uni091A_.glif</string>
  <key>uni091A_uni094D</key>
  <string>uni091A__uni094D_.glif</string>
  <key>uni091B</key>
  <string>uni091B_.glif</string>
  <key>uni091B_uni094D</key>
  <string>uni091B__uni094D_.glif</string>
  <key>uni091C_uni094D</key>
  <string>uni091C__uni094D_.glif</string>
  <key>uni091D</key>
  <string>uni091D_.glif</string>
  <key>uni091D_uni094D</key>
  <string>uni091D__uni094D_.glif</string>
  <key>uni091E_uni094D</key>
  <string>uni091E__uni094D_.glif</string>
  <key>uni091F_uni094D</key>
  <string>uni091F__uni094D_.glif</string>
  <key>uni0920_uni094D</key>
  <string>uni0920_uni094D_.glif</string>
  <key>uni0921_uni094D</key>
  <string>uni0921_uni094D_.glif</string>
  <key>uni0922_uni094D</key>
  <string>uni0922_uni094D_.glif</string>
  <key>uni0923</key>
  <string>uni0923.glif</string>
  <key>uni0923_uni094D</key>
  <string>uni0923_uni094D_.glif</string>
  <key>uni0924</key>
  <string>uni0924.glif</string>
  <key>uni0924_uni094D</key>
  <string>uni0924_uni094D_.glif</string>
  <key>uni0925</key>
  <string>uni0925.glif</string>
  <key>uni0925_uni094D</key>
  <string>uni0925_uni094D_.glif</string>
  <key>uni0926_uni094D</key>
  <string>uni0926_uni094D_.glif</string>
  <key>uni0927_uni094D</key>
  <string>uni0927_uni094D_.glif</string>
  <key>uni0928_uni094D</key>
  <string>uni0928_uni094D_.glif</string>
  <key>uni0929_uni094D</key>
  <string>uni0929_uni094D_.glif</string>
  <key>uni092A</key>
  <string>uni092A_.glif</string>
  <key>uni092A_uni094D</key>
  <string>uni092A__uni094D_.glif</string>
  <key>uni092B_uni094D</key>
  <string>uni092B__uni094D_.glif</string>
  <key>uni092C_uni094D</key>
  <string>uni092C__uni094D_.glif</string>
  <key>uni092D_uni094D</key>
  <string>uni092D__uni094D_.glif</string>
  <key>uni092E_uni094D</key>
  <string>uni092E__uni094D_.glif</string>
  <key>uni092F_uni094D</key>
  <string>uni092F__uni094D_.glif</string>
  <key>uni0932</key>
  <string>uni0932.glif</string>
  <key>uni0932_uni094D</key>
  <string>uni0932_uni094D_.glif</string>
  <key>uni0933_uni094D</key>
  <string>uni0933_uni094D_.glif</string>
  <key>uni0934_uni094D</key>
  <string>uni0934_uni094D_.glif</string>
  <key>uni0935_uni094D</key>
  <string>uni0935_uni094D_.glif</string>
  <key>uni0936</key>
  <string>uni0936.glif</string>
  <key>uni0936_uni094D</key>
  <string>uni0936_uni094D_.glif</string>
  <key>uni0937_uni094D</key>
  <string>uni0937_uni094D_.glif</string>
  <key>uni0938</key>
  <string>uni0938.glif</string>
  <key>uni0938_uni094D</key>
  <string>uni0938_uni094D_.glif</string>
  <key>uni0939</key>
  <string>uni0939.glif</string>
  <key>uni0939_uni094D</key>
  <string>uni0939_uni094D_.glif</string>
  <key>uni0958_uni094D</key>
  <string>uni0958_uni094D_.glif</string>
  <key>uni0959_uni094D</key>
  <string>uni0959_uni094D_.glif</string>
  <key>uni095A_uni094D</key>
  <string>uni095A__uni094D_.glif</string>
  <key>uni095B_uni094D</key>
  <string>uni095B__uni094D_.glif</string>
  <key>uni095E_uni094D</key>
  <string>uni095E__uni094D_.glif</string>
  <key>uni0915_uni094D_uni0937_uni094D</key>
  <string>uni0915_uni094D__uni0937_uni094D_.glif</string>
  <key>uni091C_uni094D_uni091E_uni094D</key>
  <string>uni091C__uni094D__uni091E__uni094D_.glif</string>
  <key>_133</key>
  <string>_133.glif</string>
  <key>_378</key>
  <string>_378.glif</string>
  <key>_374</key>
  <string>_374.glif</string>
  <key>_375</key>
  <string>_375.glif</string>
  <key>_376</key>
  <string>_376.glif</string>
  <key>_377</key>
  <string>_377.glif</string>
  <key>_379</key>
  <string>_379.glif</string>
  <key>uni0930_uni094D</key>
  <string>uni0930_uni094D_.glif</string>
  <key>uni0945</key>
  <string>uni0945.glif</string>
  <key>uni0902</key>
  <string>uni0902.glif</string>
  <key>uni0901</key>
  <string>uni0901.glif</string>
  <key>uni0940</key>
  <string>uni0940.glif</string>
  <key>uni0940_uni0930_uni094D</key>
  <string>uni0940_uni0930_uni094D_.glif</string>
  <key>uni0947</key>
  <string>uni0947.glif</string>
  <key>uni0947_uni0930_uni094D</key>
  <string>uni0947_uni0930_uni094D_.glif</string>
  <key>uni0948</key>
  <string>uni0948.glif</string>
  <key>uni0948_uni0930_uni094D</key>
  <string>uni0948_uni0930_uni094D_.glif</string>
  <key>uni094B</key>
  <string>uni094B_.glif</string>
  <key>uni094B_uni0930_uni094D</key>
  <string>uni094B__uni0930_uni094D_.glif</string>
  <key>uni094C</key>
  <string>uni094C_.glif</string>
  <key>uni094C_uni0930_uni094D</key>
  <string>uni094C__uni0930_uni094D_.glif</string>
  <key>uni0940.pres</key>
  <string>uni0940.pres.glif</string>
  <key>uni0940.pres_uni0930_uni094D</key>
  <string>uni0940.pres_uni0930_uni094D_.glif</string>
  <key>uni0940_uni0902</key>
  <string>uni0940_uni0902.glif</string>
  <key>uni0947_uni0902</key>
  <string>uni0947_uni0902.glif</string>
  <key>uni0930_uni094D_uni0902</key>
  <string>uni0930_uni094D__uni0902.glif</string>
  <key>uni0947_uni0930_uni094D_uni0902</key>
  <string>uni0947_uni0930_uni094D__uni0902.glif</string>
  <key>uni0948_uni0902</key>
  <string>uni0948_uni0902.glif</string>
  <key>uni0948_uni0930_uni094D_uni0902</key>
  <string>uni0948_uni0930_uni094D__uni0902.glif</string>
  <key>uni094B_uni0902</key>
  <string>uni094B__uni0902.glif</string>
  <key>uni094B_uni0930_uni094D_uni0902</key>
  <string>uni094B__uni0930_uni094D__uni0902.glif</string>
  <key>uni094C_uni0902</key>
  <string>uni094C__uni0902.glif</string>
  <key>uni094C_uni0930_uni094D_uni0902</key>
  <string>uni094C__uni0930_uni094D__uni0902.glif</string>
  <key>uni0940_uni0930_uni094D_uni0902</key>
  <string>uni0940_uni0930_uni094D__uni0902.glif</string>
  <key>uni0940.pres_uni0930_uni094D_uni0902</key>
  <string>uni0940.pres_uni0930_uni094D__uni0902.glif</string>
  <key>uni0940.pres_uni0902</key>
  <string>uni0940.pres_uni0902.glif</string>
  <key>uni0946</key>
  <string>uni0946.glif</string>
  <key>uni094A</key>
  <string>uni094A_.glif</string>
  <key>_345</key>
  <string>_345.glif</string>
  <key>_344</key>
  <string>_344.glif</string>
  <key>uni0908</key>
  <string>uni0908.glif</string>
  <key>uni0908_uni0902</key>
  <string>uni0908_uni0902.glif</string>
  <key>uni0910</key>
  <string>uni0910.glif</string>
  <key>uni0910_uni0902</key>
  <string>uni0910_uni0902.glif</string>
  <key>uni0913</key>
  <string>uni0913.glif</string>
  <key>uni0913_uni0902</key>
  <string>uni0913_uni0902.glif</string>
  <key>uni0914</key>
  <string>uni0914.glif</string>
  <key>uni0914_uni0902</key>
  <string>uni0914_uni0902.glif</string>
  <key>_201</key>
  <string>_201.glif</string>
  <key>_202</key>
  <string>_202.glif</string>
  <key>_203</key>
  <string>_203.glif</string>
  <key>_277</key>
  <string>_277.glif</string>
  <key>_278</key>
  <string>_278.glif</string>
  <key>_204</key>
  <string>_204.glif</string>
  <key>_205</key>
  <string>_205.glif</string>
  <key>_290</key>
  <string>_290.glif</string>
  <key>_291</key>
  <string>_291.glif</string>
  <key>_206</key>
  <string>_206.glif</string>
  <key>_279</key>
  <string>_279.glif</string>
  <key>_207</key>
  <string>_207.glif</string>
  <key>_280</key>
  <string>_280.glif</string>
  <key>_281</key>
  <string>_281.glif</string>
  <key>_208</key>
  <string>_208.glif</string>
  <key>_209</key>
  <string>_209.glif</string>
  <key>_210</key>
  <string>_210.glif</string>
  <key>_211</key>
  <string>_211.glif</string>
  <key>_212</key>
  <string>_212.glif</string>
  <key>_292</key>
  <string>_292.glif</string>
  <key>_282</key>
  <string>_282.glif</string>
  <key>_213</key>
  <string>_213.glif</string>
  <key>_134</key>
  <string>_134.glif</string>
  <key>_293</key>
  <string>_293.glif</string>
  <key>_214</key>
  <string>_214.glif</string>
  <key>_215</key>
  <string>_215.glif</string>
  <key>_135</key>
  <string>_135.glif</string>
  <key>_294</key>
  <string>_294.glif</string>
  <key>_295</key>
  <string>_295.glif</string>
  <key>_182</key>
  <string>_182.glif</string>
  <key>_181</key>
  <string>_181.glif</string>
  <key>uni0943</key>
  <string>uni0943.glif</string>
  <key>uni0926_uni0943</key>
  <string>uni0926_uni0943.glif</string>
  <key>uni0939_uni0943</key>
  <string>uni0939_uni0943.glif</string>
  <key>uni0941</key>
  <string>uni0941.glif</string>
  <key>_193</key>
  <string>_193.glif</string>
  <key>uni0942</key>
  <string>uni0942.glif</string>
  <key>_194</key>
  <string>_194.glif</string>
  <key>_216</key>
  <string>_216.glif</string>
  <key>uni0930_uni0941</key>
  <string>uni0930_uni0941.glif</string>
  <key>uni0930_uni0942</key>
  <string>uni0930_uni0942.glif</string>
  <key>uni0939_uni0941</key>
  <string>uni0939_uni0941.glif</string>
  <key>uni0939_uni0942</key>
  <string>uni0939_uni0942.glif</string>
</dict>
</plist>
