<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>5BCE6BDF-3D16-43B2-91D3-33CD61D1CB11</key>
		<dict>
			<key>HH</key>
			<integer>80</integer>
			<key>HV</key>
			<integer>150</integer>
			<key>OH</key>
			<integer>77</integer>
			<key>OV</key>
			<integer>158</integer>
			<key>nV</key>
			<integer>140</integer>
			<key>nd</key>
			<integer>68</integer>
			<key>oH</key>
			<integer>67</integer>
			<key>oV</key>
			<integer>150</integer>
			<key>tH</key>
			<integer>72</integer>
		</dict>
		<key>DF715B94-208D-4FDD-A2D8-DFDAF561BFB9</key>
		<dict>
			<key>HH</key>
			<integer>120</integer>
			<key>HV</key>
			<integer>195</integer>
			<key>OV</key>
			<integer>205</integer>
			<key>nV</key>
			<integer>182</integer>
			<key>nd</key>
			<integer>95</integer>
			<key>oH</key>
			<integer>85</integer>
			<key>oV</key>
			<integer>210</integer>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>5BCE6BDF-3D16-43B2-91D3-33CD61D1CB11</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>com.schriftgestaltung.weightValue</key>
	<real>0.0</real>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adblgrave</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Ainvertedbreve</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>D</string>
		<string>Eth</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edblgrave</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>Einvertedbreve</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idblgrave</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>Iinvertedbreve</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odblgrave</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oinvertedbreve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Rdblgrave</string>
		<string>Rinvertedbreve</string>
		<string>S</string>
		<string>Scaron</string>
		<string>Scommaaccent</string>
		<string>T</string>
		<string>Tcommaaccent</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udblgrave</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uinvertedbreve</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Z</string>
		<string>Zcaron</string>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adblgrave</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>ainvertedbreve</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>b</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>eth</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edblgrave</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>einvertedbreve</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idblgrave</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>iinvertedbreve</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odblgrave</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>oinvertedbreve</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>rdblgrave</string>
		<string>rinvertedbreve</string>
		<string>s</string>
		<string>scaron</string>
		<string>scommaaccent</string>
		<string>germandbls</string>
		<string>t</string>
		<string>tcommaaccent</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udblgrave</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uinvertedbreve</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>z</string>
		<string>zcaron</string>
		<string>fi</string>
		<string>fl</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>Delta</string>
		<string>Omega</string>
		<string>mu</string>
		<string>ka-deva</string>
		<string>kha-deva</string>
		<string>ga-deva</string>
		<string>gha-deva</string>
		<string>nga-deva</string>
		<string>ca-deva</string>
		<string>cha-deva</string>
		<string>ja-deva</string>
		<string>jha-deva</string>
		<string>nya-deva</string>
		<string>tta-deva</string>
		<string>ttha-deva</string>
		<string>dda-deva</string>
		<string>ddha-deva</string>
		<string>nna-deva</string>
		<string>ta-deva</string>
		<string>tha-deva</string>
		<string>da-deva</string>
		<string>dha-deva</string>
		<string>na-deva</string>
		<string>nnna-deva</string>
		<string>pa-deva</string>
		<string>pha-deva</string>
		<string>ba-deva</string>
		<string>bha-deva</string>
		<string>ma-deva</string>
		<string>ya-deva</string>
		<string>ra-deva</string>
		<string>rra-deva</string>
		<string>la-deva</string>
		<string>lla-deva</string>
		<string>llla-deva</string>
		<string>va-deva</string>
		<string>sha-deva</string>
		<string>ssa-deva</string>
		<string>sa-deva</string>
		<string>ha-deva</string>
		<string>qa-deva</string>
		<string>khha-deva</string>
		<string>ghha-deva</string>
		<string>za-deva</string>
		<string>dddha-deva</string>
		<string>rha-deva</string>
		<string>fa-deva</string>
		<string>yya-deva</string>
		<string>zha-deva</string>
		<string>jjya-deva</string>
		<string>gga-deva</string>
		<string>jja-deva</string>
		<string>ddda-deva</string>
		<string>bba-deva</string>
		<string>aCandra-deva</string>
		<string>aShort-deva</string>
		<string>a-deva</string>
		<string>aa-deva</string>
		<string>i-deva</string>
		<string>ii-deva</string>
		<string>u-deva</string>
		<string>uu-deva</string>
		<string>rVocalic-deva</string>
		<string>rrVocalic-deva</string>
		<string>lVocalic-deva</string>
		<string>llVocalic-deva</string>
		<string>eCandra-deva</string>
		<string>eShort-deva</string>
		<string>e-deva</string>
		<string>ai-deva</string>
		<string>oCandra-deva</string>
		<string>oShort-deva</string>
		<string>o-deva</string>
		<string>au-deva</string>
		<string>oe-deva</string>
		<string>ooe-deva</string>
		<string>aw-deva</string>
		<string>ue-deva</string>
		<string>uue-deva</string>
		<string>aaMatra-deva</string>
		<string>iMatra-deva</string>
		<string>iiMatra-deva</string>
		<string>oCandraMatra-deva</string>
		<string>oShortMatra-deva</string>
		<string>oMatra-deva</string>
		<string>auMatra-deva</string>
		<string>ooeMatra-deva</string>
		<string>awMatra-deva</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>foursuperior</string>
		<string>zero-deva</string>
		<string>one-deva</string>
		<string>two-deva</string>
		<string>three-deva</string>
		<string>four-deva</string>
		<string>five-deva</string>
		<string>six-deva</string>
		<string>seven-deva</string>
		<string>eight-deva</string>
		<string>nine-deva</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>numbersign</string>
		<string>period</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>softhyphen</string>
		<string>guillemetleft</string>
		<string>guillemetright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>glottalstop-deva</string>
		<string>danda-deva</string>
		<string>dbldanda-deva</string>
		<string>abbreviation-deva</string>
		<string>highspacingdot-deva</string>
		<string>space</string>
		<string>nbspace</string>
		<string>space.001</string>
		<string>nbspace.001</string>
		<string>zerowidthjoiner</string>
		<string>zerowidthnonjoiner</string>
		<string>CR</string>
		<string>.notdef</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>euro</string>
		<string>florin</string>
		<string>sterling</string>
		<string>yen</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>bulletoperator</string>
		<string>divide</string>
		<string>divisionslash</string>
		<string>equal</string>
		<string>greater</string>
		<string>greaterequal</string>
		<string>infinity</string>
		<string>integral</string>
		<string>less</string>
		<string>lessequal</string>
		<string>logicalnot</string>
		<string>minus</string>
		<string>multiply</string>
		<string>notequal</string>
		<string>partialdiff</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>plus</string>
		<string>plusminus</string>
		<string>product</string>
		<string>radical</string>
		<string>dottedCircle</string>
		<string>lozenge</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>copyright</string>
		<string>registered</string>
		<string>section</string>
		<string>trademark</string>
		<string>degree</string>
		<string>asciicircum</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>avagraha-deva</string>
		<string>om-deva</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>breveinvertedcomb</string>
		<string>commaaccent</string>
		<string>dblgravecomb</string>
		<string>firsttonechinese</string>
		<string>visarga-deva</string>
		<string>uMatra-deva</string>
		<string>uuMatra-deva</string>
		<string>rVocalicMatra-deva</string>
		<string>rrVocalicMatra-deva</string>
		<string>lVocalicMatra-deva</string>
		<string>llVocalicMatra-deva</string>
		<string>eCandraMatra-deva</string>
		<string>candraBindu-deva</string>
		<string>eShortMatra-deva</string>
		<string>eMatra-deva</string>
		<string>aiMatra-deva</string>
		<string>anusvara-deva</string>
		<string>halant-deva</string>
		<string>nukta-deva</string>
		<string>invertedCandraBindu-deva</string>
		<string>eLongCandra-deva</string>
		<string>oeMatra-deva</string>
		<string>ueMatra-deva</string>
		<string>uueMatra-deva</string>
		<string>udatta-deva</string>
		<string>anudatta-deva</string>
		<string>grave-deva</string>
		<string>acute-deva</string>
		<string>g1</string>
		<string>g124</string>
		<string>g125</string>
		<string>g123</string>
		<string>g126</string>
		<string>g130</string>
		<string>g122</string>
		<string>g127</string>
		<string>g132</string>
		<string>g131</string>
		<string>g128</string>
		<string>g129</string>
		<string>g133</string>
		<string>g136</string>
		<string>g134</string>
		<string>g135</string>
		<string>g139</string>
		<string>g138</string>
		<string>g140</string>
		<string>g141</string>
		<string>g142</string>
		<string>g137</string>
		<string>g144</string>
		<string>g143</string>
		<string>g146</string>
		<string>g148</string>
		<string>g145</string>
		<string>g149</string>
		<string>g150</string>
		<string>g147</string>
		<string>g152</string>
		<string>g151</string>
		<string>g153</string>
		<string>g154</string>
		<string>g158</string>
		<string>g156</string>
		<string>g157</string>
		<string>g155</string>
		<string>g160</string>
		<string>g162</string>
		<string>g159</string>
		<string>g161</string>
		<string>g163</string>
		<string>g165</string>
		<string>g164</string>
		<string>g166</string>
		<string>g167</string>
		<string>g168</string>
		<string>g169</string>
		<string>g173</string>
		<string>g171</string>
		<string>g170</string>
		<string>g175</string>
		<string>g172</string>
		<string>g174</string>
		<string>g176</string>
		<string>g179</string>
		<string>g178</string>
		<string>g181</string>
		<string>g183</string>
		<string>g182</string>
		<string>g180</string>
		<string>g177</string>
		<string>g184</string>
		<string>g189</string>
		<string>g186</string>
		<string>g185</string>
		<string>g187</string>
		<string>g191</string>
		<string>g188</string>
		<string>g190</string>
		<string>g197</string>
		<string>g193</string>
		<string>g192</string>
		<string>g195</string>
		<string>g194</string>
		<string>g196</string>
		<string>g2</string>
		<string>g199</string>
		<string>g198</string>
		<string>g200</string>
		<string>g201</string>
		<string>g204</string>
		<string>g203</string>
		<string>g202</string>
		<string>g206</string>
		<string>g207</string>
		<string>g205</string>
		<string>g208</string>
		<string>g210</string>
		<string>g209</string>
		<string>g211</string>
		<string>g213</string>
		<string>g212</string>
		<string>g216</string>
		<string>g214</string>
		<string>g215</string>
		<string>g218</string>
		<string>g217</string>
		<string>g220</string>
		<string>g221</string>
		<string>g219</string>
		<string>g222</string>
		<string>g224</string>
		<string>g225</string>
		<string>g223</string>
		<string>g228</string>
		<string>g226</string>
		<string>g230</string>
		<string>g229</string>
		<string>g231</string>
		<string>g227</string>
		<string>g232</string>
		<string>g234</string>
		<string>g236</string>
		<string>g233</string>
		<string>g235</string>
		<string>g237</string>
		<string>g238</string>
		<string>g240</string>
		<string>g244</string>
		<string>g242</string>
		<string>g243</string>
		<string>g241</string>
		<string>g245</string>
		<string>g246</string>
		<string>g239</string>
		<string>g247</string>
		<string>g248</string>
		<string>g249</string>
		<string>g252</string>
		<string>g253</string>
		<string>g251</string>
		<string>g250</string>
		<string>g254</string>
		<string>g255</string>
		<string>g256</string>
		<string>g259</string>
		<string>g260</string>
		<string>g257</string>
		<string>g258</string>
		<string>g261</string>
		<string>g263</string>
		<string>g262</string>
		<string>g264</string>
		<string>g265</string>
		<string>g266</string>
		<string>g267</string>
		<string>g268</string>
		<string>g270</string>
		<string>g271</string>
		<string>g269</string>
		<string>g272</string>
		<string>g273</string>
		<string>g274</string>
		<string>g278</string>
		<string>g277</string>
		<string>g275</string>
		<string>g279</string>
		<string>g280</string>
		<string>g276</string>
		<string>g283</string>
		<string>g281</string>
		<string>g282</string>
		<string>g284</string>
		<string>g285</string>
		<string>g286</string>
		<string>g287</string>
		<string>g290</string>
		<string>g288</string>
		<string>g291</string>
		<string>g293</string>
		<string>g289</string>
		<string>g292</string>
		<string>g306</string>
		<string>g307</string>
		<string>g295</string>
		<string>g308</string>
		<string>g309</string>
		<string>g310</string>
		<string>g294</string>
		<string>g311</string>
		<string>g315</string>
		<string>g312</string>
		<string>g316</string>
		<string>g318</string>
		<string>g317</string>
		<string>g313</string>
		<string>g319</string>
		<string>g320</string>
		<string>g314</string>
		<string>g321</string>
		<string>g322</string>
		<string>g325</string>
		<string>g323</string>
		<string>g324</string>
		<string>g328</string>
		<string>g326</string>
		<string>g327</string>
		<string>g329</string>
		<string>g331</string>
		<string>g333</string>
		<string>g332</string>
		<string>g334</string>
		<string>g330</string>
		<string>g335</string>
		<string>g340</string>
		<string>g337</string>
		<string>g336</string>
		<string>g341</string>
		<string>g344</string>
		<string>g338</string>
		<string>g342</string>
		<string>g339</string>
		<string>g345</string>
		<string>g343</string>
		<string>g346</string>
		<string>g347</string>
		<string>g348</string>
		<string>g349</string>
		<string>g350</string>
		<string>g354</string>
		<string>g352</string>
		<string>g355</string>
		<string>g356</string>
		<string>g351</string>
		<string>g353</string>
		<string>g357</string>
		<string>g358</string>
		<string>g360</string>
		<string>g359</string>
		<string>g362</string>
		<string>g363</string>
		<string>g361</string>
		<string>g364</string>
		<string>g365</string>
		<string>g366</string>
		<string>g370</string>
		<string>g371</string>
		<string>g369</string>
		<string>g367</string>
		<string>g368</string>
		<string>g372</string>
		<string>g373</string>
		<string>g374</string>
		<string>g375</string>
		<string>g376</string>
		<string>g377</string>
		<string>g379</string>
		<string>g378</string>
		<string>g381</string>
		<string>g382</string>
		<string>g384</string>
		<string>g385</string>
		<string>g387</string>
		<string>g386</string>
		<string>g383</string>
		<string>g388</string>
		<string>g389</string>
		<string>g390</string>
		<string>g392</string>
		<string>g391</string>
		<string>g393</string>
		<string>g394</string>
		<string>g380</string>
		<string>notdef.001</string>
		<string>uni0000</string>
		<string>uni0080</string>
		<string>uni1CDA</string>
	</array>
</dict>
</plist>
